@charset 'utf-8';

/* 기본스타일 */
/* 모바일스타일 */
*{
  box-sizing:border-box;
  font-family:Roboto,'Noto Sans KR',sans-serif;
}
.clearfix::after{content:'';display:block;clear: both;}
.container{width:100%;max-width:1280px;margin:0 auto;padding:0 40px;}

/* 스킵메뉴 */
.skip_menu{padding:10px;text-align:center;background-color:#007dc6;position:fixed;left:0;top:-59px;z-index:10;width:100%;transition:0.2s;}
.skip_menu.active{top:0;}
.skip_menu a{display:inline-block;border:1px solid #fff;padding:6px 10px;color:#fff;}
.skip_menu a:focus,.skip_menu a:hover{border-color:#000;color:#000;}

/* 해더섹션 */
.header{padding:24px 0;position:fixed;left:0;top:0;z-index:9;width:100%;}
.header_top{position:relative;z-index:9;}
.logo_box{float:left;}
.tgl_btn{float:right;cursor: pointer;width:42px;height:36px;}
.tgl_btn span{display:block;width:100%;height:4px;border-radius:2px;background-color:#000;margin-bottom:12px;text-indent:-99999px;overflow: hidden;transition:0.2s;}
.tgl_btn span:nth-child(3){margin-bottom:0;}
.tgl_btn.active span:nth-child(1){width:127%;transform:rotate(40deg);transform-origin:2px 2px;}
.tgl_btn.active span:nth-child(2){transform:scaleX(0);}
.tgl_btn.active span:nth-child(3){width:127%;transform:rotate(-40deg);transform-origin:2px 2px;}

.nav{position:fixed;right:-100%;top:0;z-index:8;width:100%;height:100%;padding:200px 40px 50px;background-color:#fff;transition:0.3s;}
.lang{margin-bottom:30px;border-bottom:1px solid #aaa;padding-bottom:20px;}
.lang a{padding-right:20px;font-weight:600;font-size:18px;color:#aaa;}
.lang a.active{color:#333;text-decoration:underline;}
.main_nav{}
.main_nav>li{margin-bottom:4rem;}
.main_nav>li>a{font-size:2.8rem;display:block;position:relative;transition:0.3s;}
.main_nav>li>a::before,.main_nav>li>a::after{content:'';display:block;background-color:#000;position: absolute;transition:0.3s;}
.main_nav>li>a::before{width:24px;height:3px;right:0;top:9px;}
.main_nav>li>a::after{width:3px;height:24px;right:10px;top:0;}
.main_nav>li>a.active{color:#007dc6;}
.main_nav>li>a.active::before,.main_nav>li>a.active::after{background-color:#007dc6;}
.sub_nav{display:none;}
/* ===================테블릿 스타일====================== */
@media(min-width:768px){

}





/* ========================피시 스타일====================== */
@media(min-width:1280px){
  .container{
    width:80%;
  }
  /* .skip_menu{display:block;} */
}